.div1 {
    width: 500px;
    height: 500px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: black;
}

div p {
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    height: 10px;
    width: 100px;
    border-radius: 20px;
    background-color: yellow;
    padding: 10px;
    text-align: center;
}

p {
    vertical-align: left;
}